.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

i {
  font-size: 1.4rem;
}

.searchContainer {
  display: flex;
  gap: 10px;
  background-color: #FAFAFA;
  padding: 8px 20px;
  width: 50%;
}

.searchContainer {
  color: #444;
}

input[type="text"] {
  background-color: #FAFAFA;
  width: 100%;
  border: none;
}

input[type="text"]:focus {
  outline: none;
}
