* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.weather-contents {
    background-color: #372F6F;
    border-radius: 4px;
    padding: 20px;
}