* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility class */
.flex {
  display: flex;
  justify-content: space-between;
}

.shadow-border {
  border-radius: 20px;
  box-shadow: 0 4px 10px #E0E0E0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.weather-container {
  display: flex;
  justify-content: space-between;
}

.weather-left {
  width: 40%;
  padding: 18px;
}

.weather-right {
  flex: 1;
  padding: 18px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "pollution pollution sunset wind "
    "uv precipitation feels-like humidity"
    "visibility pressure chance-rain chance-rain";
  gap: 10px;
}

.temp-text {
  font-size: 4rem;
}

.pollution {
  grid-area: pollution;
}

.sunset {
  grid-area: sunset;
}

.wind {
  grid-area: wind;
}

.uv {
  grid-area: uv;
}

.precipitation {
  grid-area: precipitation;
}

.feels-like {
  grid-area: feels-like;
}

.humidity {
  grid-area: humidity;
}

.visibility {
  grid-area: visibility;
}

.pressure {
  grid-area: pressure;
}

.chance-rain {
  grid-area: chance-rain;
}

@media screen and (max-width: 1020px) {

  .weather-right {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "pollution pollution sunset "
      "wind uv precipitation "
      "feels-like humidity visibility "
      "pressure chance-rain chance-rain";
  }
}
